*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin-bottom: 1rem;
}
.box {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
.hide {
  display: none;
}
.text {
  text-align: center;
  padding: 2rem;
}
#header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(96, 185, 235, 0.5);
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}
.choice-text {
  padding: 1.5rem 2.5rem;
  width: 100%;
}
.hide {
  display: hide;
}
.start-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.correct {
  background-color: #28a745;
}
.incorrect {
  background-color: red;
}
#final-score {
  text-align: center;
}
#form {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#username {
  text-align: center;
}
.play-again{
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
